demo/n8n_workflow_corrected.json
{
  "name": "YojanaMitra - Deadline Reminders (Corrected)",
  "nodes": [
    {
      "parameters": {
        "url": "=http://localhost:3002/api/store-reminder",
        "options": {
          "queryParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "pending"
              },
              {
                "name": "beforeDate",
                "value": "={{$now}}"
              }
            ]
          }
        },
        "authentication": "none"
      },
      "id": "get-reminders",
      "name": "Get Pending Reminders",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-1008, 112],
      "notes": "Fetches all reminders scheduled for today or earlier"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{$json.count}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-reminders",
      "name": "Has Reminders?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-800, 112],
      "notes": "Checks if there are any reminders to send"
    },
    {
      "parameters": {
        "jsCode": "// Extract reminders array and return as separate items\nconst response = $input.item.json;\nconst reminders = response.reminders || [];\n\n// Return empty array if no reminders\nif (reminders.length === 0) {\n  return [];\n}\n\n// Return each reminder as a separate item\nreturn reminders.map(reminder => ({\n  json: reminder\n}));"
      },
      "id": "process-reminders",
      "name": "Process Reminders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-592, 112],
      "notes": "Extracts reminders array and creates one item per reminder"
    },
    {
      "parameters": {
        "url": "=http://localhost:3002/api/n8n-reminder",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"phone\": \"{{$json.phone}}\",\n  \"userName\": \"{{$json.userName}}\",\n  \"schemeTitle\": \"{{$json.schemeTitle}}\",\n  \"reminderType\": \"{{$json.reminderType}}\",\n  \"deadline\": \"{{$json.deadline}}\",\n  \"missingDocuments\": \"{{$json.missingDocuments}}\",\n  \"message\": \"{{$json.message}}\"\n}",
        "options": {},
        "authentication": "none"
      },
      "id": "send-reminder",
      "name": "Send WhatsApp Reminder",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-192, 112],
      "notes": "Sends reminder via WhatsApp using Twilio"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{$json.success}}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Sent Successfully?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [0, 112],
      "notes": "Checks if reminder was sent successfully"
    },
    {
      "parameters": {
        "url": "=http://localhost:3002/api/store-reminder",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reminderId\": \"{{$('Process Reminders').item.json.id}}\",\n  \"status\": \"sent\"\n}",
        "options": {},
        "authentication": "none"
      },
      "id": "update-sent",
      "name": "Mark as Sent",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [208, 12],
      "notes": "Updates reminder status to 'sent'"
    },
    {
      "parameters": {
        "url": "=http://localhost:3002/api/store-reminder",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"reminderId\": \"{{$('Process Reminders').item.json.id}}\",\n  \"status\": \"failed\"\n}",
        "options": {},
        "authentication": "none"
      },
      "id": "update-failed",
      "name": "Mark as Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [208, 208],
      "notes": "Updates reminder status to 'failed' if sending failed"
    }
  ],
  "connections": {
    "Get Pending Reminders": {
      "main": [
        [
          {
            "node": "Has Reminders?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Reminders?": {
      "main": [
        [
          {
            "node": "Process Reminders",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Process Reminders": {
      "main": [
        [
          {
            "node": "Send WhatsApp Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Reminder": {
      "main": [
        [
          {
            "node": "Sent Successfully?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sent Successfully?": {
      "main": [
        [
          {
            "node": "Mark as Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark as Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-01T00:00:00.000Z",
  "versionId": "1"
}



